<div class="panel panel-default">
  <div class="panel-heading">My Contacts</div>
  <div class="panel-body">
    <% if @contacts.empty? %>
      <!-- EMPTY STATE GOES HERE -->
        No contacts yet.
    <% else %>
      <ul class="list-group" id='jq-contact-index'>
        <% @contacts.each do |contact| %>
          <li class="list-group-item"><%= contact.name %> - <%= contact.email %></li>
        <% end %>
      </ul>
    <% end %>
    <div>
      <button id='jq-add-contact' class='btn btn-info'><i class='fa fa-plus'></i> Add contact</button>
      <div id='jq-new-contact' class='hidden'>
        <%= render partial: 'new' %>
      </div>
    </div>
  </div>
</div>