<div class="panel panel-default contacts-panel center-block">
  <div class="panel-heading">My Contacts</div>
  <div class="panel-body">
    <ul id='jq-contact-index'>
      <% if @contacts.empty? %>
        <div class="alert alert-info" role="alert">
          <p>You have no contacts yet.  Add a contact below to schedule a KeepUp</p>
        </div>
      <% else %>
          <% @contacts.each do |contact| %>
            <li class='contact-list-item'><%= contact.name %> - <%= contact.email %> - <%= contact.next_send_date %></li>
          <% end %>
      <% end %>
    </ul>
    <div>
      <div id='jq-new-contact' class='new-contact-fields hidden'>
        <%= render partial: 'new' %>
      </div>
      <button id='jq-add-contact' class='btn btn-info add-contact-button'><i class='fa fa-plus'></i> Add contact</button>
    </div>
  </div>
</div>